.hello {
    color: red;
}
body {
    margin: 0px;
    font-family: Arial;
  }
.nav {
    background: white;
    overflow: hidden;
    border-bottom: solid black 2px;
  }
  
.nav a {
    color: black;
    float: left;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
  }
  
.nav a:hover {
    background-color: rgba(201, 195, 195, 0.74);
  }
  
.nav a.active {
    background-color: #262429;
    color: white;
  }